@import "common.css";
#mediate_state_list {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding-top: 1rem;
}
#mediate_state_list .mediate_state {
  color: #9e9e9e;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
}
#mediate_state_list .mediate_state span {
  padding-bottom: 1rem;
}
#mediate_state_list .mediate_state img {
  width: 30%;
  position: absolute;
  bottom: 0;
  display: none;
}
#mediate_state_list .state_active {
  color: #60c89b;
}
.case_list {
  display: none;
}
.case_list .case {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: .5rem;
}
.case_list .case .case_title .title {
  font-size: 1.4rem;
  color: #4d4d4d;
}
.case_list .case .case_title .time {
  font-size: 1rem;
  color: #999;
}
.case_list .case .case_title:after {
  content: "";
  display: block;
  clear: both;
}
.case_list .case .case_content {
  font-size: 1.3rem;
  color: #808080;
  width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: .5rem;
}
.case_list .case .case_other {
  font-size: 1rem;
  margin-top: .5rem;
}
.case_list .case .case_other .fayuan,
.case_list .case .case_other .zhuangtai,
.case_list .case .case_other .pingjia {
  height: 1.8rem;
  line-height: 1.6rem;
  border-radius: 1rem;
  margin-right: .5rem;
  padding: 0 .5rem;
}
.case_list .case .case_other .fayuan {
  color: #f8a36a;
  border: 1px solid #f8a36a;
}
.case_list .case .case_other .zhuangtai,
.case_list .case .case_other .pingjia {
  color: #14c177;
  border: 1px solid #14c177;
}
.case_list .case .case_other:after {
  content: "";
  display: block;
  clear: both;
}
