@import "common.css";
#personalInfo_box {
  font-size: 1.5rem;
  color: #808080;
}
#personalInfo_box #info {
  margin-top: 1rem;
  width: 100%;
}
#personalInfo_box #info p {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 2px;
  text-align: left;
}
#personalInfo_box #info p span.required {
  color: #ed2929;
  margin-right: .2rem;
}
#personalInfo_box #info p input {
  width: 75%;
  text-align: right;
  border: none;
  outline: none;
  font-size: 1.5rem;
}
#personalInfo_box #info p input::-webkit-input-placeholder {
  color: #ccc;
}
#personalInfo_box #info p input::-moz-placeholder {
  color: #ccc;
}
#personalInfo_box #info p input:active {
  color: #333;
}
