@import "common.css";
#pingjia_box{
  padding:1rem;
  .pingjia_content,.tongyi{
    width:100%;
    background-color: #fff;
    border-radius: .5rem;
    margin-bottom:1rem;
  }
  .pingjia_content{
    .pingjia{
      width:100%;
      height:20rem;
      font-size:1.4rem;
      font-family: "黑体";
      overflow: hidden;
      padding:.5rem;
      outline: none;
      resize:none;
      border:none;
      line-height:2rem;
    }
  }
  .tongyi{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left:1rem;
    color:#333;
    .tongyi_img{
      width:70%;
    }
  }
}